/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* Center the container */
.container {
  width: 1200px;
  margin: 0 auto;
  height:150px;
}

header {
  background: #EBFAFF;
  padding: 25px 0;
  overflow: hidden;
}
header .name {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}
header .today-date{
	color: #000;
  text-align: center;
    font-size: 30px;
  font-weight: 800;
}
header nav {
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #0085B2;
}
a{
	text-decoration: none;
}

#sidebar {
  width: 240px;
  display: inline-block;
  vertical-align: top;
}
#sidebar ul {
  margin-bottom: 40px;
}
#sidebar ul li a {
  color: #043049;
  font-size: 24px;
  margin-bottom: 40px;
}
