/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
header {
  background: #EBFAFF;
  padding-top: 25px;
  padding-bottom: 3px;
  overflow: hidden;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
header .head-left{
  float: left;
  display: inline-block;
  width:15%;
}
header .name {
  color: #032C39;
  font-size: 30px;
  font-weight: 800;
}
header .head-middle{
  float: left;
  display: inline-block;
  text-align: center;
  width:70%;
}
header .lab {
  color: #556064;
  font-size: 48px;
  font-weight: 800;
}

header .head-right{
  float:left;
  width:15%;
}
header .today-date, header .week-date{
	color: #032C39;
  font-size: 20px;
  font-weight: 800;
  margin-right: 30px;
}
header nav {
  margin-top: 30px;
  font-family: "Questrial", sans-serif;

}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #0085B2;
}
a{
	text-decoration: none;
}
#sidebar {
  width: 15%;
  height:1000px;
  display: inline-block;
  vertical-align: top;
  font-family: "Open Sans", sans-serif;
  padding-top: 30px;
  padding-left:20px;
  border-right:#0085B2 2px solid;
  float: left;
}
#sidebar ul {
  margin-bottom: 40px;
}
#sidebar ul li {
  
  font-size: 24px;
  margin-bottom: 40px;
}
#sidebar ul li a{
color: #043049;
}
.notebook-content{
	float: left;
	padding-top: 30px;
	padding-left:3%;
	width:85%;
}
h3{
	font-family: "Nanum Gothic", sans-serif;
	font-size: 30px;
	display: block;
	margin-bottom: 20px;
}
.notebook-content div{
	height:200px;
	width:30%;
	float:left;
	margin-bottom: 2%;
	margin-right: 3%;
	background-color:#F5E9A7;
	padding:20px;
}
h4{
	font-size: 20px

}
