/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*--------------------------------Header Start-------------------------------*/
header{
  background-color: black;
  /*border-bottom:grey 5px solid;*/
  height:3.5em;
  position:fixed;
  width:100%;
  z-index: 1;
}
header .inner{
  background-color: black;
  overflow: hidden;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  height:100%;
  width:100%;
}
.head-left{
  float: left;
  height:100%;
  width:15%;
  padding-top: 1em;
  padding-left: 1em;
  color:white;
}
.hamburger {
    display: block;
    margin-top: 0.3em
  }

.hamburger span {
  display: block;
  width: 2em;
  height:5px;
  background-color: black;
  margin:5px 0;
}

.head-middle{
  float: left;
  text-align: center;
  width:70%;
  height:100%;
  padding-top: 0.2em;
}
.top-divider{
  padding-top: 5px;
  height:70%;
  width:100%;
  display:block;
}
.bottom-divider{
  height:30%;
  width:100%;
  display:block;
}
.bottom-divider h2{
  color:black;
  font-size: 1.2em;
}
.hor-half{
  width:50%;
  height:100%;
  float:left;
}
.fixed-text-right{
  text-align:right;
  padding-right: 1em;
}
.fixed-text-left{
  text-align: left;
  padding-left: 1em;
}
.today-date{
}
.icon{
  top: 50%;
  z-index: 2;
  color: white;
  display: inline-block;
  padding:4px;
  font-size: 2em;
}
.search{
  width:30em;
  height:2em;
  border:none;
  border-radius: 5px;
  font-size: 1em;
  margin-right: 0.5em;
  padding-left:0.5em;
}
/*.search-bar{
  white-space: nowrap;
  position: relative;
  width: 3em;
  height: 30px;

}
.search-bar input#search{
  width: 3em;
  height: 30px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display:none;
  position: absolute;
  top:0;
  left:100%;
}*/

.head-right{
  float:left;
  width:15%;
  height: 100%;
  padding-top: 1em;
  text-align: right;
  padding-right:1em;
  color:white;
}
/*--------------------------------Header End-------------------------------*/

/*--------------------------------Aside Start-------------------------------*/
aside {
  width: 15%;
  height:1000px;
  position: fixed;
  vertical-align: top;
  font-family: "Open Sans", sans-serif;
  padding-top: 4em;
  padding-left: 15px;
  background-color: black;
  top:0;
  left:-100%;
}

.sidebar ul li {
  font-size: 1em;
  margin-bottom: 40px;
  height:0.7em;
}

.sidebar ul li:hover {
  font-size: 1.2em;
}

.sidebar ul li a{
  color: white;
  text-decoration: none;
}

.close-nav{
  position: absolute;
  z-index: 90;
  cursor: pointer;
  display: block;
  width:100%;
  margin-left:80%;
}

.close-nav span {
  display: block;
  width: 20px;
  height:3px;
  background-color: white;
  transform: rotate(45deg) translate(2px);
  -webkit-transform: rotate(45deg) translate(2px);
  -moz-transform: rotate(45deg) translate(2px);
}

.close-nav span.right {
  transform: rotate(-45deg) translate(2px);
  -webkit-transform: rotate(-45deg) translate(2px);
  -moz-transform: rotate(-45deg) translate(2px);
}
/*--------------------------------Aside End-------------------------------*/
/*--------------------------------Content Start-------------------------------*/
.content{
  padding-top: 3.5em;
  /*padding-left:20px;*/
  width:100%;
  height:1000px;
}
.title-main{
  width:100%;
/*  height:20%; */
  height:7%;
  padding-left:2em;
  padding-top:1em;
  padding-right:2em;
  margin:0 auto;
}

.title-area{
  width:100%;
/*  height:30%;*/
  height:100%;
  /*border-bottom:1px solid grey;*/
  font-size:1.7em;
  text-align: center;
}
.title-left{
  float: left;
  height:100%;
  width:15%;
/*  padding-top: 1em;
  padding-left: 2em;*/
}
.title-middle{
  float: left;
  height:100%;
  width:70%;
/*  padding-top: 1em;
  padding-left: 2em;*/
}
.lab {
  font-size: 1.5em;
  font-weight: 800;
  color: black;
/*    -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;*/
   letter-spacing: 0.04em;
}
.title-right{
  float: left;
  height:100%;
  width:15%;
  text-align: right;
/*  padding-top: 1em;
  padding-left: 2em;*/
}
.sort-by{
  width:100%;
  height:100%;
  text-align: center;
  padding:0.2em;
  font-family: "Open Sans", sans-serif;
}

.sort-by span{
  border:solid black 1px;
  /*border-radius: 3px;*/
  font-size: 0.8em;
  padding-top: 0.3em;
  height:100%;
  width:48%;
  display: inline-block;
}

.title-sort{
  background-color: white;
  opacity:0.7;
  color:black;
  
}

.date-sort{
  display: inline-block;
}
.active {
  background-color: #1abc9c;
  color:white;
}
.button:hover{
  background-color: #E0E0E0;
  color:black;
}

.filter-content{
  width:100%;
/*  height:80%;*/
  height:0%;
}
.filter-bins{
  height:100%;
  width:25%;
  /*border-right:1px solid grey;*/
  padding-top:1em;
  float:left;
}

/*.button{
  display: inline-block;
  letter-spacing: 0.1em;
  text-decoration:none;
  border-radius: 6px;
  border: 1px solid black;
  margin-top: 1.5em;
  padding:1.20em 2.2em;
  font-size: 0.8em;
}*/

.project-content-main{
	float: left;
	width:90%;
  height:80%;
  margin-left:5%;
}
.project-rows{
  width:100%;
  height:380px;
  display:block;
}
.notebook-title{
	font-family: "Nanum Gothic", sans-serif;
	font-size: 30px;
	display: block;
	margin-bottom: 20px;
  position:relative;
}
.project-outer{
	height:100%;
	width:33.3%;
	float:left;
	background-color:#F5E9A7;
	padding:2em;
  border-radius: 2px;
}
.project-outer:hover{
  filter:brightness(120%);
}
.project-inner{
  padding-top: 20px;
  height:100%;
  width:100%;
  text-align: center;
  float:left;
  color: white;
  font-family:"Open Sans",sans-serif;
}  
.notebook-name{
  text-decoration: none;
  font-size: 2em;
  display:block;
  height:90%;
}
.notebook-name:visited{
  color:white;
}
.last-updated{
  vertical-align: bottom;
  height:10%;
}
/*--------------------------------Content End-------------------------------*/

/*--------------------------------Footer Start-------------------------------*/
footer{
  background-color: black;
  height:2em;
  position:relative;
  width:100%;
  padding-top: 1em;
  padding-left:1em;
}